; example dont starve file
; see here for more info https://dontstarve.fandom.com/wiki/Guides/Don%E2%80%99t_Starve_Together_Dedicated_Servers#Command_Line_Options
default_server_name = A unique server name
default_server_description = A very nice server description
server_port = 10999
server_password = password
max_players = 6 [1 - 64]
pvp = true | false
game_mode = endless | survival | wilderness
server_intention = cooperative | social | competitive | madness
;Snapshots allow GSAs the ability to fully roll back a server to an older state.  This feature is pretty new and has been observed to cause problems on some servers. 
enable_snapshots = [true | false]
;The auto saver creates a save at the start of each day, which will be resumed from when the server restarts.
enable_autosaver = [true | false]
;Tick rate determines the quality of the server.  A higher tick rate consumes more bandwidth and CPU, but can result in smooth gameplay for clients.
tick_rate = 30 [ 10 | 15 | 30 | 60 ]
;A time in milliseconds that the server should wait before dropping a non responsive client.
connection_timeout = 8000
; Which save slot should the dedicated server load
server_save_slot = 1..5
; When no admin is present, vote kick allows users to vote to kick players that are disrupting the game.
vote_kick_enabled = [true | false]


[account]
dedicated_lan_server = [ true | false ]